<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace的名称为数据访问层的接口 -->
<mapper namespace="com.oracle.mapper.UserMapper">
	<!-- id为 UserMapper里面的方法login的名称-->
	<!-- parameterType为 UserMapper里面的方法login的参数类型-->
	<!-- resultType为 UserMapper里面的方法login的返回类型-->
	<select id="login" parameterType="com.oracle.entity.Users" resultType="com.oracle.entity.Users">
		<!-- sql语句 -->
		select * from users where uname = #{uname} and upass = #{upass}
	</select>
</mapper>